:root {
    --color-primary: #ffffff;
    --color-primary-dark: #eeeeee;
    --color-primary-light: #f5f5f5;
    --color-grey-light: rgb(207, 207, 207);
    --color-lightblue: #4285f4;
    --color-red:rgb(234, 63, 48);
    --color-green: #33a451;
    --line: 1px solid var(--color-grey-light);
    --line-blue: 4px solid var(--color-lightblue);
}
* {
    margin: 0;
    padding: 0;
}
*::before,
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    font-weight: 400;
    min-height: 100vh;
    font-size: 1.4rem;
}
.btn {
    padding: .5rem 1rem;
    background-color: var(--color-lightblue);
    border: none;
    margin-top: 1rem;
    color: var(--color-primary);
    font-weight: 700;
}

.alert {
    padding: 2rem;
    border-radius: .2rem;
    color: var(--color-primary);
    font-weight: 700;
    margin-bottom: 1rem;
    align-self: flex-start;
}
.alert--error {
    background-color: var(--color-red);
}
.alert--succes {
    background-color: var(--color-green);
}
.container {
    min-height: 100vh;
    background-color: var(--color-primary-dark);
}
.header {
    height: 6rem;
    background-color: var(--color-primary);
    border-bottom: var(--line);
}
.content {
    display: flex;
}
.sidebar {
    background-color: var(--color-primary-light);
    flex: 0 0 14%;
    min-height: 100vh;
}
.tasks {
    min-height: 50rem;
    flex: 1;
}
.add-task {
    border-top: var(--line-blue);
    margin: 4.5rem;
    border-radius: .2rem;
    background-color: var(--color-primary);
    padding: 2rem;

}


.todo-form-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.todo-form__input {
    align-self: stretch;
    padding: 1rem;
    margin-top: 1rem;
}


.task-view{
    border-top: var(--line-blue);
    margin: 4.5rem;
    border-radius: .2rem;
    background-color: var(--color-primary);
    padding: 2rem;
}
.task-list th, .task-list td {
    padding: .5rem;
    text-align: left;
    margin: 0;
}
.task-list th {
    border-bottom: var(--line);
}
.task-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.task-view__search {
    align-self: stretch;
    padding: 1rem;
    margin-top: 1rem;
}